.list {
    width: 100%;
    padding: 0
}

.wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

;
.textInput {
    width: 300px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.FormSubmit {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}

.selectCategory {
    width: 30%!important;
}

.filterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filterWrapperInfo {
    display: flex;
    align-items: center;
}

.filterTitle {
    font-size: 24px;
    color:#fff;
    margin: 0 18px 0 0;
}

@media(max-width:500px) {
    .FormSubmit {
        flex-direction: column;
    }
    .selectCategory {
        width: 100%!important;
        margin: 10px 0;
    }
    .filterTitle {
        font-size: 14px;
    }
}