.list {
  width: 400px;
  padding: 0
}

.wrapper {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

.textInput {
  width: 300px;
}

.filter {
  margin-top: 10px;
}

.input {
  display: flex;
  justify-content: space-around;
}