.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 20px;
    margin: 7px 0 7px 0;
}

.doneTask {
    text-decoration: line-through;
}

.taskText {
    cursor: pointer;
    font-weight: 500;
}

.text {
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.category {
  font-weight: bold;
}

@media(max-width:500px) {
    .listItem {
        background: #1e95ca;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text {
        display: flex;
        flex-direction: column;
    }
    .pointer {
        margin-bottom: 10px;
    }
    .category {
        margin-bottom: 10px;
    }
}