a {
    display: inline-block;
    color: beige!important;
    border-radius: 4px;
    background: darkseagreen;
    padding: 0 8px;
    font-size: 40px;
}

.form-group {
    margin: 0!important;
}

@media(max-width:767px) {
    a {
        font-size: 14px;
    }
}